<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
<head>
<meta charset="UTF-8">
<style type="text/css">
.footer_content {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    font-size: 14px;
    border-top: 1px solid lightgray;
}
.footer_text {
	padding: 50px 10px 100px;
}
</style>
</head>
<footer class="footer_wrap">
	<div class="footer_content">
		<section class="footer_text">
			<div>
				<span>
					<b>대표</b> 양현영
				</span>
		    	<span>
		    		<b>사업자번호</b> 342-33-82008
		    	</span>
	    	</div>
	    	<div>
	    		<b>주소</b> 서울특별시 성동구 성수동
	    	</div>
	    	<div>
	    		<b>전화</b> 1233-4456
	    	</div>
	    </section>
	</div>
</footer>
</html>